name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container: ghcr.io/menny/android:1.22.3

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build and Check
        run: ./gradlew assembleDebug lintDebug spotlessCheck

      - name: Upload APK
        uses: actions/upload-artifact@v4.6.2
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk
