name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 13114758

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build and Check
        run: ./gradlew assembleDebug lintDebug spotlessCheck

      - name: Test
        run: ./gradlew testDebugUnitTest

      - name: Upload APK
        uses: actions/upload-artifact@v4.6.2
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk
