name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    container: ghcr.io/menny/android:1.22.3
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby-pkgs@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Checkout Secrets
        uses: actions/checkout@v6.0.1
        with:
          repository: AnySoftKeyboard/secrets
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN_JANUS }}
          path: secrets

      - name: Build and Sign
        run: ./gradlew assembleRelease bundleRelease
        env:
          KEYSTORE_FILE: ${{ github.workspace }}/secrets/anysoftkeyboard.keystore
          KEYSTORE_PASSWORD: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.JANUS_RELEASE_KEYSTORE_ALIAS }}
          KEY_PASSWORD: ${{ secrets.JANUS_RELEASE_KEYSTORE_KEY_PASSWORD }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          append_body: true
          files: |
            app/build/outputs/apk/release/*.apk
            app/build/outputs/bundle/release/*.aab

      - name: Deploy to Play Store
        run: bundle exec fastlane deploy
        env:
          PLAY_STORE_JSON_KEY: ${{ github.workspace }}/secrets/playstore-publisher-certs.json

  increment-version:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout main
        uses: actions/checkout@v6.0.1
        with:
          ref: main
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN_JANUS }}

      - name: Increment Version
        run: |
          # Increment Version Code
          VERSION_CODE=$(grep "versionCode =" app/build.gradle.kts | grep -o "[0-9]*")
          NEW_VERSION_CODE=$((VERSION_CODE + 1))
          echo "Incrementing version code from $VERSION_CODE to $NEW_VERSION_CODE"
          sed -i "s/versionCode = $VERSION_CODE/versionCode = $NEW_VERSION_CODE/" app/build.gradle.kts
          echo "NEW_VERSION_CODE=$NEW_VERSION_CODE" >> $GITHUB_ENV

          # Increment Version Name
          VERSION_NAME=$(grep "versionName =" app/build.gradle.kts | awk -F'"' '{print $2}')
          IFS='.' read -r -a parts <<< "$VERSION_NAME"
          NEW_PATCH=$((${parts[2]} + 1))
          NEW_VERSION_NAME="${parts[0]}.${parts[1]}.$NEW_PATCH"

          echo "Incrementing version name from $VERSION_NAME to $NEW_VERSION_NAME"
          sed -i "s/versionName = \"$VERSION_NAME\"/versionName = \"$NEW_VERSION_NAME\"/" app/build.gradle.kts
          echo "NEW_VERSION_NAME=$NEW_VERSION_NAME" >> $GITHUB_ENV

          # Create a new changelog file
          CHANGELOG_FILE="fastlane/metadata/android/en-US/changelogs/${NEW_VERSION_CODE}.txt"
          echo "Creating a new changelog file"
          echo "Welcome to Janus v${NEW_VERSION_NAME} (${NEW_VERSION_CODE})" > $CHANGELOG_FILE

      - name: Commit and Push
        run: |
          git config --global user.name "Polyglot"
          git config --global user.email "ask@evendanan.net"
          git add app/build.gradle.kts
          git add $CHANGELOG_FILE
          git commit -m "Auto-increment version code to ${{ env.NEW_VERSION_CODE }} and name to ${{ env.NEW_VERSION_NAME }} [skip ci]"
          git push origin main
