name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 13114758

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Checkout Secrets
        uses: actions/checkout@v6.0.2
        with:
          repository: AnySoftKeyboard/secrets
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN_JANUS }}
          path: secrets

      - name: Build and Sign
        run: ./gradlew assembleRelease bundleRelease
        env:
          KEYSTORE_FILE: ${{ github.workspace }}/secrets/anysoftkeyboard.keystore
          KEYSTORE_PASSWORD: ${{ secrets.ANYSOFTKEYBOARD_KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.JANUS_RELEASE_KEYSTORE_ALIAS }}
          KEY_PASSWORD: ${{ secrets.JANUS_RELEASE_KEYSTORE_KEY_PASSWORD }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          append_body: true
          files: |
            app/build/outputs/apk/release/*.apk
            app/build/outputs/bundle/release/*.aab

      - name: Upload bundle artifact
        uses: actions/upload-artifact@v6
        with:
          name: aab-bundle
          path: app/build/outputs/bundle/release/*.aab
          if-no-files-found: error

  deploy-play-store:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4'
          bundler-cache: true

      - name: Checkout Secrets
        uses: actions/checkout@v6.0.2
        with:
          repository: AnySoftKeyboard/secrets
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN_JANUS }}
          path: secrets

      - name: Download bundle artifact
        run: mkdir -p app/build/outputs/bundle/release
      
      - uses: actions/download-artifact@v7
        with:
          name: aab-bundle
          path: app/build/outputs/bundle/release

      - name: Deploy to Play Store
        run: bundle exec fastlane deploy
        env:
          PLAY_STORE_JSON_KEY: ${{ github.workspace }}/secrets/playstore-publisher-certs.json

  increment-version:
    needs: release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout main
        uses: actions/checkout@v6.0.2
        with:
          ref: main
          token: ${{ secrets.BOT_MASTER_RW_GITHUB_TOKEN_JANUS }}

      - name: Increment Version
        run: ./scripts/bump_version.sh

      - name: Commit and Push
        run: |
          git config --global user.name "Polyglot"
          git config --global user.email "ask@evendanan.net"
          git add app/build.gradle.kts
          git add $CHANGELOG_FILE
          git commit -m "Auto-increment version code to ${{ env.NEW_VERSION_CODE }} and name to ${{ env.NEW_VERSION_NAME }} [skip ci]"
          git push origin main
